body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #1c1c66, #00a4fd);
    color: #e0e0e0;
    padding: 20px;
    margin: 0;
}

#contenido {
    background: rgb(202, 23, 169);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    max-width: 800px;
    margin: auto;
}

canvas {
    background-color: #332f2f8d;
}

#animacion-info {
    background-color: rgba(24, 28, 101, 0.793);
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Botones estilo tarjetas */
.menu-item {
    padding: 30px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
}

/* Colores únicos */
.mecanica { background-color: #ff4500; }
.termodinamica { background-color: #ff8c00; }
.electromagnetismo { background-color: #1e90ff; }
.optica { background-color: #ffd700; color: #000; }
.acustica { background-color: #32cd32; }
.fisiCuantica { background-color: #9400d3; }
.relatividad { background-color: #8b0000; }
.padres_fisica { background-color: #8b4513; }
.mecanica_fluidos { background-color: #00ced1; }
.mecanica_computacional { background-color: #696969; }
.youtube { background-color: #e62117; }

/* Iconos */
.menu-item .icon {
    font-size: 1.6em;
    margin-right: 10px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.menu-item:hover .icon {
    transform: rotate(15deg) scale(1.3);
}

/* Otros estilos */
img {
    width: 250px;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.6);
}

.logo-institucion {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

.logo-educacion {
    position: absolute;
    top: 10px;
    left: 1360px;
    width: 150px;
    height: auto;
}

#angleDisplay {
    margin-top: 10px;
    font-size: 18px;
    color: #ffcc00;
    font-weight: bold;
}

@keyframes swingText {
    0% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
}

#animacion-info {
    margin: 20px auto;
    font-size: 18px;
    color: #e0e0e0;
    font-style: italic;
    background-color: rgb(193, 109, 56);
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 700px;
    box-shadow: 0px 0px 10px rgb(5, 12, 218);
    animation: swingText 2s infinite ease-in-out;
    transform-origin: center;
    text-align: center;
}
